<div class="form-group section-datepicker">
    <div class="input-group">
        <span class="input-group-btn">
            <button id="perviosDay" class="btn btn-default" type="button">⇩</button>
        </span>
        <input id="datepicker" data-date-format="dd.mm.yyyy" class="form-control" type="text">
        <span class="input-group-btn">
            <button id="nextDay" class="btn btn-default" type="button">⇧</button>
        </span>
    </div>
</div>