
@{
    ViewBag.Title = "Совместные покупки";
}

@section styles
{
    @Styles.Render(Dashboard.Bundles.Kendo.KendoStandart.Css.Key,
            Dashboard.Bundles.Fontawesome.Css.Key)

    <style>

    </style>
    <link rel="stylesheet" href="~/Content/info.css">
}

    <div class="container layout">
        <div class="row content">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">
                            Номер правила
                        </th>
                        <th rowspan="2">
                            Условие
                        </th>
                        <th rowspan="2">
                            Следствие
                        </th>
                        <th colspan="2">
                            Поддержка
                        </th>
                        <th rowspan="2">
                            Достоверность
                        </th>
                        <th rowspan="2">
                            Лифт
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Кол-во
                        </th>
                        <th>
                            %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Американо
                        </td>
                        <td>
                            Капучино
                        </td>
                        <td>
                            1032
                        </td>
                        <td>
                            1,69
                        </td>
                        <td>
                            23,95
                        </td>
                        <td>
                            2,363
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Капучино
                        </td>
                        <td>
                            Американо
                        </td>
                        <td>
                            1032
                        </td>
                        <td>
                            1,69
                        </td>
                        <td>
                            16,64
                        </td>
                        <td>
                            2,363
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                        <td>
                            Сметана домашняя 70 гр.
                        </td>
                        <td>
                            835
                        </td>
                        <td>
                            1,36
                        </td>
                        <td>
                            29,3
                        </td>
                        <td>
                            16,473
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            Пирожки с печенью
                        </td>
                        <td>
                            794
                        </td>
                        <td>
                            1,3
                        </td>
                        <td>
                            33,73
                        </td>
                        <td>
                            12,209
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            791
                        </td>
                        <td>
                            1,29
                        </td>
                        <td>
                            33,6
                        </td>
                        <td>
                            7,197
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            791
                        </td>
                        <td>
                            1,29
                        </td>
                        <td>
                            27,7
                        </td>
                        <td>
                            7,197
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            775
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            34,93
                        </td>
                        <td>
                            7,481
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            775
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            27,14
                        </td>
                        <td>
                            7,481
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            Пирожки с печенью и картофелем
                        </td>
                        <td>
                            727
                        </td>
                        <td>
                            1,19
                        </td>
                        <td>
                            32,76
                        </td>
                        <td>
                            12,653
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10
                        </td>
                        <td>
                            Булочка кукурузная
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            718
                        </td>
                        <td>
                            1,17
                        </td>
                        <td>
                            15,76
                        </td>
                        <td>
                            1,512
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11
                        </td>
                        <td>
                            Булочка кукурузная
                        </td>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                        <td>
                            705
                        </td>
                        <td>
                            1,15
                        </td>
                        <td>
                            15,48
                        </td>
                        <td>
                            1,963
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12
                        </td>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                        <td>
                            Булочка кукурузная
                        </td>
                        <td>
                            705
                        </td>
                        <td>
                            1,15
                        </td>
                        <td>
                            14,62
                        </td>
                        <td>
                            1,963
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13
                        </td>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            689
                        </td>
                        <td>
                            1,13
                        </td>
                        <td>
                            24,18
                        </td>
                        <td>
                            2,319
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            680
                        </td>
                        <td>
                            1,11
                        </td>
                        <td>
                            23,81
                        </td>
                        <td>
                            2,284
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15
                        </td>
                        <td>
                            Ледяная Жемчужина
                        </td>
                        <td>
                            Капучино
                        </td>
                        <td>
                            665
                        </td>
                        <td>
                            1,09
                        </td>
                        <td>
                            20,08
                        </td>
                        <td>
                            1,981
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16
                        </td>
                        <td>
                            Морс БРУСНИКА
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            655
                        </td>
                        <td>
                            1,07
                        </td>
                        <td>
                            18,47
                        </td>
                        <td>
                            1,771
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            Пирожки с яйцом
                        </td>
                        <td>
                            649
                        </td>
                        <td>
                            1,06
                        </td>
                        <td>
                            27,57
                        </td>
                        <td>
                            13,013
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18
                        </td>
                        <td>
                            Узвар из сухофруктов
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            640
                        </td>
                        <td>
                            1,05
                        </td>
                        <td>
                            25,71
                        </td>
                        <td>
                            2,466
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19
                        </td>
                        <td>
                            Корзина пирожков
                        </td>
                        <td>
                            Морс БРУСНИКА
                        </td>
                        <td>
                            627
                        </td>
                        <td>
                            1,02
                        </td>
                        <td>
                            25,21
                        </td>
                        <td>
                            4,348
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20
                        </td>
                        <td>
                            Морс БРУСНИКА
                        </td>
                        <td>
                            Корзина пирожков
                        </td>
                        <td>
                            627
                        </td>
                        <td>
                            1,02
                        </td>
                        <td>
                            17,68
                        </td>
                        <td>
                            4,348
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21
                        </td>
                        <td>
                            Медальоны из говядины с овощным тар-таром
                        </td>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                        <td>
                            620
                        </td>
                        <td>
                            1,01
                        </td>
                        <td>
                            17,83
                        </td>
                        <td>
                            2,261
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

