
@{
    ViewBag.Title = "Наборы товаров";
}

@section styles
{
    @Styles.Render(Dashboard.Bundles.Kendo.KendoStandart.Css.Key,
            Dashboard.Bundles.Fontawesome.Css.Key)

    <style>

       
    </style>
    <link rel="stylesheet" href="~/Content/info.css">
}

    <div class="container layout">
        <div class="row content">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">
                            Номер множества
                        </th>
                        <th rowspan="2">
                            Элементы
                        </th>
                        <th colspan="2">
                            Поддержка
                        </th>
                        <th rowspan="2">
                            Мощность
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Кол-во
                        </th>
                        <th>
                            %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td>
                            6378
                        </td>
                        <td>
                            10,43
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Капучино
                        </td>
                        <td>
                            6201
                        </td>
                        <td>
                            10,14
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                        <td>
                            4823
                        </td>
                        <td>
                            7,88
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Булочка кукурузная
                        </td>
                        <td>
                            4555
                        </td>
                        <td>
                            7,45
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            Американо
                        </td>
                        <td>
                            4309
                        </td>
                        <td>
                            7,04
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>
                            Сок "Я" в ас-те 0,2л
                        </td>
                        <td>
                            3866
                        </td>
                        <td>
                            6,32
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>
                            Чай Английский завтрак чайник
                        </td>
                        <td>
                            3594
                        </td>
                        <td>
                            5,88
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>
                            Морс БРУСНИКА
                        </td>
                        <td>
                            3547
                        </td>
                        <td>
                            5,8
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9
                        </td>
                        <td>
                            Медальоны из говядины с овощным тар-таром
                        </td>
                        <td>
                            3478
                        </td>
                        <td>
                            5,69
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10
                        </td>
                        <td>
                            Ледяная Жемчужина
                        </td>
                        <td>
                            3312
                        </td>
                        <td>
                            5,41
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11
                        </td>
                        <td>
                            Лапша домашняя с курицей
                        </td>
                        <td>
                            2905
                        </td>
                        <td>
                            4,75
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12
                        </td>
                        <td>
                            Пирожки с картофелем
                        </td>
                        <td>
                            2856
                        </td>
                        <td>
                            4,67
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13
                        </td>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                        <td>
                            2850
                        </td>
                        <td>
                            4,66
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14
                        </td>
                        <td>
                            Солянка
                        </td>
                        <td>
                            2598
                        </td>
                        <td>
                            4,25
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15
                        </td>
                        <td>
                            Салат Греческий
                        </td>
                        <td>
                            2579
                        </td>
                        <td>
                            4,22
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16
                        </td>
                        <td>
                            Салат с куриной печенью, яичными блинчиками и сыром Дор-Блю
                        </td>
                        <td>
                            2568
                        </td>
                        <td>
                            4,2
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17
                        </td>
                        <td>
                            Узвар из сухофруктов
                        </td>
                        <td>
                            2489
                        </td>
                        <td>
                            4,07
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18
                        </td>
                        <td>
                            Корзина пирожков
                        </td>
                        <td>
                            2487
                        </td>
                        <td>
                            4,07
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19
                        </td>
                        <td>
                            Салат с говядиной
                        </td>
                        <td>
                            2468
                        </td>
                        <td>
                            4,03
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20
                        </td>
                        <td>
                            Стекло 0,25л
                        </td>
                        <td>
                            2440
                        </td>
                        <td>
                            3,99
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21
                        </td>
                        <td>
                            Пиво Бабка Тарахто 0,5 л
                        </td>
                        <td>
                            2393
                        </td>
                        <td>
                            3,91
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            22
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            2354
                        </td>
                        <td>
                            3,85
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            23
                        </td>
                        <td>
                            Морс СМОРОДИНА
                        </td>
                        <td>
                            2287
                        </td>
                        <td>
                            3,74
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            24
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td>
                            2219
                        </td>
                        <td>
                            3,63
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            25
                        </td>
                        <td>
                            Сырники из домашнего творога
                        </td>
                        <td>
                            2195
                        </td>
                        <td>
                            3,59
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            26
                        </td>
                        <td>
                            Холодец говядина с курицей
                        </td>
                        <td>
                            2173
                        </td>
                        <td>
                            3,55
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            27
                        </td>
                        <td>
                            Соус белый чесночный 70 гр.
                        </td>
                        <td>
                            2155
                        </td>
                        <td>
                            3,52
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            28
                        </td>
                        <td>
                            Драники со сметаной
                        </td>
                        <td>
                            2139
                        </td>
                        <td>
                            3,5
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            29
                        </td>
                        <td>
                            Торт наполеон мягкий
                        </td>
                        <td>
                            2093
                        </td>
                        <td>
                            3,42
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            30
                        </td>
                        <td>
                            Жаркое из свинины
                        </td>
                        <td>
                            2075
                        </td>
                        <td>
                            3,39
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            31
                        </td>
                        <td>
                            Суп-крем с шампиньонами и белыми грибами
                        </td>
                        <td>
                            2055
                        </td>
                        <td>
                            3,36
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            32
                        </td>
                        <td>
                            Салат Мясоедовский 1
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            3,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            33
                        </td>
                        <td>
                            Уха по-архангельски
                        </td>
                        <td>
                            2001
                        </td>
                        <td>
                            3,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            34
                        </td>
                        <td>
                            Свинина под сыром запеченая по-крестьянски
                        </td>
                        <td>
                            1937
                        </td>
                        <td>
                            3,17
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            35
                        </td>
                        <td>
                            Картофель по-казачьи
                        </td>
                        <td>
                            1922
                        </td>
                        <td>
                            3,14
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            36
                        </td>
                        <td>
                            Картофель фри
                        </td>
                        <td>
                            1912
                        </td>
                        <td>
                            3,13
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            37
                        </td>
                        <td>
                            Английский завтрак кружка
                        </td>
                        <td>
                            1879
                        </td>
                        <td>
                            3,07
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            38
                        </td>
                        <td>
                            Чай медово-облепиховый 0,6л
                        </td>
                        <td>
                            1834
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            39
                        </td>
                        <td>
                            Тигровые креветки в сливочном соусе с зерновой горчицей
                        </td>
                        <td>
                            1801
                        </td>
                        <td>
                            2,94
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            40
                        </td>
                        <td>
                            Сыр домашний жареный с соусом тар-тар
                        </td>
                        <td>
                            1739
                        </td>
                        <td>
                            2,84
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            41
                        </td>
                        <td>
                            Тирамису классический
                        </td>
                        <td>
                            1717
                        </td>
                        <td>
                            2,81
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            42
                        </td>
                        <td>
                            Пирожки с печенью
                        </td>
                        <td>
                            1690
                        </td>
                        <td>
                            2,76
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            43
                        </td>
                        <td>
                            Салат Цезарь с креветками
                        </td>
                        <td>
                            1684
                        </td>
                        <td>
                            2,75
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            44
                        </td>
                        <td>
                            Нарзан Элита
                        </td>
                        <td>
                            1669
                        </td>
                        <td>
                            2,73
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            45
                        </td>
                        <td>
                            Мидии в ракушках под сыром в сковороде
                        </td>
                        <td>
                            1665
                        </td>
                        <td>
                            2,72
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            46
                        </td>
                        <td>
                            Сметана 70 гр.
                        </td>
                        <td>
                            1647
                        </td>
                        <td>
                            2,69
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            47
                        </td>
                        <td>
                            Окрошка с трубочкой с сыр. муссом
                        </td>
                        <td>
                            1634
                        </td>
                        <td>
                            2,67
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            48
                        </td>
                        <td>
                            Мороженое ванильное
                        </td>
                        <td>
                            1585
                        </td>
                        <td>
                            2,59
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            49
                        </td>
                        <td>
                            Пирожки с печенью и картофелем
                        </td>
                        <td>
                            1584
                        </td>
                        <td>
                            2,59
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            50
                        </td>
                        <td>
                            Картофель дольками
                        </td>
                        <td>
                            1582
                        </td>
                        <td>
                            2,59
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            51
                        </td>
                        <td>
                            Соленья и маринады
                        </td>
                        <td>
                            1551
                        </td>
                        <td>
                            2,54
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            52
                        </td>
                        <td>
                            Чай малиново-имбирный 0,6л
                        </td>
                        <td>
                            1549
                        </td>
                        <td>
                            2,53
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            53
                        </td>
                        <td>
                            Каре барашка с грилированными овощами
                        </td>
                        <td>
                            1537
                        </td>
                        <td>
                            2,51
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            54
                        </td>
                        <td>
                            Салат с морепродуктами, рукколой и соусом Песто
                        </td>
                        <td>
                            1536
                        </td>
                        <td>
                            2,51
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            55
                        </td>
                        <td>
                            Штрудель с вишней и творогом
                        </td>
                        <td>
                            1534
                        </td>
                        <td>
                            2,51
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            56
                        </td>
                        <td>
                            Салат Мясоедовский
                        </td>
                        <td>
                            1530
                        </td>
                        <td>
                            2,5
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            57
                        </td>
                        <td>
                            Гуляш из говядины в хрустящей булке
                        </td>
                        <td>
                            1492
                        </td>
                        <td>
                            2,44
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            58
                        </td>
                        <td>
                            Шоколадный Фондан
                        </td>
                        <td>
                            1483
                        </td>
                        <td>
                            2,42
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            59
                        </td>
                        <td>
                            Шулюм с бараниной
                        </td>
                        <td>
                            1461
                        </td>
                        <td>
                            2,39
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            60
                        </td>
                        <td>
                            Рулет из баклажан
                        </td>
                        <td>
                            1454
                        </td>
                        <td>
                            2,38
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            61
                        </td>
                        <td>
                            Чай Горный 0,6л
                        </td>
                        <td>
                            1447
                        </td>
                        <td>
                            2,37
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            62
                        </td>
                        <td>
                            Чизкейк ванильный новый
                        </td>
                        <td>
                            1438
                        </td>
                        <td>
                            2,35
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            63
                        </td>
                        <td>
                            Острые куриные крылья с сырным соусом
                        </td>
                        <td>
                            1412
                        </td>
                        <td>
                            2,31
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            64
                        </td>
                        <td>
                            Квас хлебный
                        </td>
                        <td>
                            1398
                        </td>
                        <td>
                            2,29
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            65
                        </td>
                        <td>
                            Сок "Я" в ас-те 1 л
                        </td>
                        <td>
                            1394
                        </td>
                        <td>
                            2,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            66
                        </td>
                        <td>
                            Вареники с вишней
                        </td>
                        <td>
                            1394
                        </td>
                        <td>
                            2,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            67
                        </td>
                        <td>
                            Морепродукты запеченые
                        </td>
                        <td>
                            1389
                        </td>
                        <td>
                            2,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            68
                        </td>
                        <td>
                            Рулет. из баклажанов
                        </td>
                        <td>
                            1385
                        </td>
                        <td>
                            2,26
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            69
                        </td>
                        <td>
                            Штрудель яблочно-персиковый
                        </td>
                        <td>
                            1375
                        </td>
                        <td>
                            2,25
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            70
                        </td>
                        <td>
                            Салат из фермерских овощей
                        </td>
                        <td>
                            1361
                        </td>
                        <td>
                            2,22
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            71
                        </td>
                        <td>
                            Набор к водке
                        </td>
                        <td>
                            1354
                        </td>
                        <td>
                            2,21
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            72
                        </td>
                        <td>
                            Семга на "перине" из овощей
                        </td>
                        <td>
                            1333
                        </td>
                        <td>
                            2,18
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            73
                        </td>
                        <td>
                            Лимон 100 гр.
                        </td>
                        <td>
                            1321
                        </td>
                        <td>
                            2,16
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            74
                        </td>
                        <td>
                            Салат "Царский" с икрой
                        </td>
                        <td>
                            1319
                        </td>
                        <td>
                            2,16
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            75
                        </td>
                        <td>
                            Куриные котлетки с картоф. пюре
                        </td>
                        <td>
                            1302
                        </td>
                        <td>
                            2,13
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            76
                        </td>
                        <td>
                            Пирожки с яйцом
                        </td>
                        <td>
                            1296
                        </td>
                        <td>
                            2,12
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            77
                        </td>
                        <td>
                            Салат Любава
                        </td>
                        <td>
                            1282
                        </td>
                        <td>
                            2,1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            78
                        </td>
                        <td>
                            Индюшка в белом соусе
                        </td>
                        <td>
                            1274
                        </td>
                        <td>
                            2,08
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            79
                        </td>
                        <td>
                            Пирожки с яйцом
                        </td>
                        <td>
                            1246
                        </td>
                        <td>
                            2,04
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            80
                        </td>
                        <td>
                            Котлета по-киевски
                        </td>
                        <td>
                            1218
                        </td>
                        <td>
                            1,99
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            81
                        </td>
                        <td>
                            Салат Оливье по рецепту Джими Оливера
                        </td>
                        <td>
                            1217
                        </td>
                        <td>
                            1,99
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            82
                        </td>
                        <td>
                            Водка Царская 50 гр
                        </td>
                        <td>
                            1213
                        </td>
                        <td>
                            1,98
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            83
                        </td>
                        <td>
                            Соус красный по-кавказски 70 гр.
                        </td>
                        <td>
                            1209
                        </td>
                        <td>
                            1,98
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            84
                        </td>
                        <td>
                            Торт Сметанник
                        </td>
                        <td>
                            1206
                        </td>
                        <td>
                            1,97
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            85
                        </td>
                        <td>
                            Похлебка чечевичная в хлебной голове
                        </td>
                        <td>
                            1204
                        </td>
                        <td>
                            1,97
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            86
                        </td>
                        <td>
                            Праздничный салат купца Морозова
                        </td>
                        <td>
                            1190
                        </td>
                        <td>
                            1,95
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            87
                        </td>
                        <td>
                            Чай Зеленый дракон чайник
                        </td>
                        <td>
                            1189
                        </td>
                        <td>
                            1,94
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            88
                        </td>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                        <td rowspan="2">
                            1171
                        </td>
                        <td rowspan="2">
                            1,91
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Сметана 70 гр.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            89
                        </td>
                        <td>
                            Жаркое из говядины
                        </td>
                        <td>
                            1170
                        </td>
                        <td>
                            1,91
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            90
                        </td>
                        <td>
                            Жюльен грибной в булке
                        </td>
                        <td>
                            1143
                        </td>
                        <td>
                            1,87
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            91
                        </td>
                        <td>
                            Салат Цезарь с семгой
                        </td>
                        <td>
                            1107
                        </td>
                        <td>
                            1,81
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            92
                        </td>
                        <td>
                            Сельдь соленая с марин. и картофелем
                        </td>
                        <td>
                            1101
                        </td>
                        <td>
                            1,8
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            93
                        </td>
                        <td>
                            Сметана домашняя 70 гр.
                        </td>
                        <td>
                            1088
                        </td>
                        <td>
                            1,78
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            94
                        </td>
                        <td>
                            Пиво БТ пшеничное 0,5 л
                        </td>
                        <td>
                            1085
                        </td>
                        <td>
                            1,77
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            95
                        </td>
                        <td>
                            Морс ОБЛЕПИХА
                        </td>
                        <td>
                            1084
                        </td>
                        <td>
                            1,77
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            96
                        </td>
                        <td>
                            Любимый салат Деда Пихто с языком
                        </td>
                        <td>
                            1076
                        </td>
                        <td>
                            1,76
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            97
                        </td>
                        <td>
                            Салат с тигровыми креветками рукколой и соусом Песто
                        </td>
                        <td>
                            1060
                        </td>
                        <td>
                            1,73
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            98
                        </td>
                        <td>
                            Большая кружка БРУСНИКА
                        </td>
                        <td>
                            1055
                        </td>
                        <td>
                            1,72
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            99
                        </td>
                        <td>
                            Сыры заморские
                        </td>
                        <td>
                            1050
                        </td>
                        <td>
                            1,72
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            100
                        </td>
                        <td>
                            Овощи ГРИЛЬ
                        </td>
                        <td>
                            1047
                        </td>
                        <td>
                            1,71
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            101
                        </td>
                        <td>
                            Американо
                        </td>
                        <td rowspan="2">
                            1032
                        </td>
                        <td rowspan="2">
                            1,69
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Капучино
                        </td>
                    </tr>
                    <tr>
                        <td>
                            102
                        </td>
                        <td>
                            Большая кружка КВАС до 18.06
                        </td>
                        <td>
                            1022
                        </td>
                        <td>
                            1,67
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            103
                        </td>
                        <td>
                            Сельдь соленая с луком и картофелем
                        </td>
                        <td>
                            1007
                        </td>
                        <td>
                            1,65
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            104
                        </td>
                        <td>
                            Домашний куриный суп-лапша
                        </td>
                        <td>
                            979
                        </td>
                        <td>
                            1,6
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            105
                        </td>
                        <td>
                            Десерт Анна Павлова
                        </td>
                        <td>
                            973
                        </td>
                        <td>
                            1,59
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            106
                        </td>
                        <td>
                            Печеная утиная грудка с ананасами и брусничным соусом
                        </td>
                        <td>
                            956
                        </td>
                        <td>
                            1,56
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            107
                        </td>
                        <td>
                            Киндзмараули 150 мл
                        </td>
                        <td>
                            951
                        </td>
                        <td>
                            1,55
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            108
                        </td>
                        <td>
                            Картофель жареный по-домашнему ст
                        </td>
                        <td>
                            936
                        </td>
                        <td>
                            1,53
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            109
                        </td>
                        <td>
                            Салат "Винегрет" с опятами
                        </td>
                        <td>
                            928
                        </td>
                        <td>
                            1,52
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            110
                        </td>
                        <td>
                            Соус аджика острая 70 гр.
                        </td>
                        <td>
                            923
                        </td>
                        <td>
                            1,51
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            111
                        </td>
                        <td>
                            Фреш Апельсиновый 0,2
                        </td>
                        <td>
                            909
                        </td>
                        <td>
                            1,49
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            112
                        </td>
                        <td>
                            Пельмени сибирские ОТВАРНЫЕ
                        </td>
                        <td>
                            906
                        </td>
                        <td>
                            1,48
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            113
                        </td>
                        <td>
                            Салат "Оливье" по-домашнему
                        </td>
                        <td>
                            904
                        </td>
                        <td>
                            1,48
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            114
                        </td>
                        <td>
                            Лимонад классический 300мл
                        </td>
                        <td>
                            900
                        </td>
                        <td>
                            1,47
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            115
                        </td>
                        <td>
                            Эспрессо
                        </td>
                        <td>
                            882
                        </td>
                        <td>
                            1,44
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            116
                        </td>
                        <td>
                            Дорадо в соусе Терияки
                        </td>
                        <td>
                            871
                        </td>
                        <td>
                            1,42
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            117
                        </td>
                        <td>
                            Хлеб белый собственного приготовления
                        </td>
                        <td>
                            861
                        </td>
                        <td>
                            1,41
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            118
                        </td>
                        <td>
                            Пирожки с телятиной
                        </td>
                        <td>
                            861
                        </td>
                        <td>
                            1,41
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            119
                        </td>
                        <td>
                            Кальян на воде F
                        </td>
                        <td>
                            856
                        </td>
                        <td>
                            1,4
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            120
                        </td>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                        <td rowspan="2">
                            835
                        </td>
                        <td rowspan="2">
                            1,36
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Сметана домашняя 70 гр.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            121
                        </td>
                        <td>
                            Свинина стейк ГРИЛЬ
                        </td>
                        <td>
                            834
                        </td>
                        <td>
                            1,36
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            122
                        </td>
                        <td>
                            Хлеб серый собственного приготовления
                        </td>
                        <td>
                            828
                        </td>
                        <td>
                            1,35
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            123
                        </td>
                        <td>
                            Окрошка
                        </td>
                        <td>
                            821
                        </td>
                        <td>
                            1,34
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            124
                        </td>
                        <td>
                            Салат Сельдь под шубой
                        </td>
                        <td>
                            815
                        </td>
                        <td>
                            1,33
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            125
                        </td>
                        <td>
                            Водка Столичная 50 гр.
                        </td>
                        <td>
                            809
                        </td>
                        <td>
                            1,32
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            126
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td rowspan="2">
                            794
                        </td>
                        <td rowspan="2">
                            1,3
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с печенью
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            131
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td rowspan="2">
                            791
                        </td>
                        <td rowspan="2">
                            1,29
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с картофелем
                        </td>
                    </tr>
                    <tr>
                        <td>
                            132
                        </td>
                        <td>
                            Хлебная корзина
                        </td>
                        <td>
                            791
                        </td>
                        <td>
                            1,29
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            133
                        </td>
                        <td>
                            Цыпленок табака 100 гр.
                        </td>
                        <td>
                            785
                        </td>
                        <td>
                            1,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            134
                        </td>
                        <td>
                            овощи гриль
                        </td>
                        <td>
                            784
                        </td>
                        <td>
                            1,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            135
                        </td>
                        <td>
                            Жаркое из баранины
                        </td>
                        <td>
                            783
                        </td>
                        <td>
                            1,28
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            136
                        </td>
                        <td>
                            Лимонад классический 1л
                        </td>
                        <td>
                            779
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            137
                        </td>
                        <td>
                            Большая кружка СМОРОДИНА
                        </td>
                        <td>
                            779
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            138
                        </td>
                        <td>
                            Драники из кабачков
                        </td>
                        <td>
                            778
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            139
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td rowspan="2">
                            775
                        </td>
                        <td rowspan="2">
                            1,27
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с картофелем
                        </td>
                    </tr>
                    <tr>
                        <td>
                            140
                        </td>
                        <td>
                            Мята 2 гр.
                        </td>
                        <td>
                            775
                        </td>
                        <td>
                            1,27
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            141
                        </td>
                        <td>
                            Пирожки с мясом
                        </td>
                        <td>
                            772
                        </td>
                        <td>
                            1,26
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            142
                        </td>
                        <td>
                            Водка Дрова 50 гр.
                        </td>
                        <td>
                            770
                        </td>
                        <td>
                            1,26
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            143
                        </td>
                        <td>
                            Японский классический кружка
                        </td>
                        <td>
                            766
                        </td>
                        <td>
                            1,25
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            144
                        </td>
                        <td>
                            Большая кружка УЗВАР старый
                        </td>
                        <td>
                            757
                        </td>
                        <td>
                            1,24
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            145
                        </td>
                        <td>
                            Цветные пельмешки
                        </td>
                        <td>
                            745
                        </td>
                        <td>
                            1,22
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            146
                        </td>
                        <td>
                            Латте
                        </td>
                        <td>
                            736
                        </td>
                        <td>
                            1,2
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            147
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td rowspan="2">
                            727
                        </td>
                        <td rowspan="2">
                            1,19
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с печенью и картофелем
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            148
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            718
                        </td>
                        <td rowspan="2">
                            1,17
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Булочка кукурузная
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            149
                        </td>
                        <td>
                            Булочка кукурузная
                        </td>
                        <td rowspan="2">
                            705
                        </td>
                        <td rowspan="2">
                            1,15
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                    </tr>
                    <tr>
                        <td>
                            150
                        </td>
                        <td>
                            Сальцо с прослойкой
                        </td>
                        <td>
                            692
                        </td>
                        <td>
                            1,13
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            151
                        </td>
                        <td>
                            Витаминный заряд
                        </td>
                        <td>
                            691
                        </td>
                        <td>
                            1,13
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            152
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            689
                        </td>
                        <td rowspan="2">
                            1,13
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вареники с картофелем и грибами
                        </td>
                    </tr>
                    <tr>
                        <td>
                            153
                        </td>
                        <td>
                            Колбаски из индейки с овощами на пару
                        </td>
                        <td>
                            689
                        </td>
                        <td>
                            1,13
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            154
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            680
                        </td>
                        <td rowspan="2">
                            1,11
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с картофелем
                        </td>
                    </tr>
                    <tr>
                        <td>
                            155
                        </td>
                        <td>
                            Картофельное пюре
                        </td>
                        <td>
                            677
                        </td>
                        <td>
                            1,11
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            156
                        </td>
                        <td>
                            Борщ зеленый
                        </td>
                        <td>
                            674
                        </td>
                        <td>
                            1,1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            157
                        </td>
                        <td>
                            Мохито б/а
                        </td>
                        <td>
                            673
                        </td>
                        <td>
                            1,1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            158
                        </td>
                        <td>
                            Чай Эрл Грей чайник
                        </td>
                        <td>
                            670
                        </td>
                        <td>
                            1,1
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            159
                        </td>
                        <td>
                            Говядина вырезка ГРИЛЬ 100 гр.
                        </td>
                        <td>
                            669
                        </td>
                        <td>
                            1,09
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            160
                        </td>
                        <td>
                            Капучино
                        </td>
                        <td rowspan="2">
                            665
                        </td>
                        <td rowspan="2">
                            1,09
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ледяная Жемчужина
                        </td>
                    </tr>
                    <tr>
                        <td>
                            161
                        </td>
                        <td>
                            Лимонад манго-маракуйя 300 мл
                        </td>
                        <td>
                            659
                        </td>
                        <td>
                            1,08
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            162
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            655
                        </td>
                        <td rowspan="2">
                            1,07
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Морс БРУСНИКА
                        </td>
                    </tr>
                    <tr>
                        <td>
                            163
                        </td>
                        <td>
                            Пиво Бабка Тарахто 0,3 л
                        </td>
                        <td>
                            651
                        </td>
                        <td>
                            1,06
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            164
                        </td>
                        <td>
                            Пирожки с капустой
                        </td>
                        <td rowspan="2">
                            649
                        </td>
                        <td rowspan="2">
                            1,06
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пирожки с яйцом
                        </td>
                    </tr>
                    <tr>
                        <td>
                            165
                        </td>
                        <td>
                            Бефстроганов из говядины
                        </td>
                        <td>
                            644
                        </td>
                        <td>
                            1,05
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            166
                        </td>
                        <td>
                            Гов. щечки в соусе Демиглас
                        </td>
                        <td>
                            643
                        </td>
                        <td>
                            1,05
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            167
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            640
                        </td>
                        <td rowspan="2">
                            1,05
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Узвар из сухофруктов
                        </td>
                    </tr>
                    <tr>
                        <td>
                            168
                        </td>
                        <td>
                            Ассорти паштетов
                        </td>
                        <td>
                            633
                        </td>
                        <td>
                            1,03
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            169
                        </td>
                        <td>
                            Салат Цезарь с цыпленком
                        </td>
                        <td>
                            630
                        </td>
                        <td>
                            1,03
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            170
                        </td>
                        <td>
                            Мясные ассортименты
                        </td>
                        <td>
                            628
                        </td>
                        <td>
                            1,03
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            171
                        </td>
                        <td>
                            Корзина пирожков
                        </td>
                        <td rowspan="2">
                            627
                        </td>
                        <td rowspan="2">
                            1,02
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Морс БРУСНИКА
                        </td>
                    </tr>
                    <tr>
                        <td>
                            172
                        </td>
                        <td>
                            Прасковейский самогон 50 гр.
                        </td>
                        <td>
                            626
                        </td>
                        <td>
                            1,02
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            173
                        </td>
                        <td>
                            Шашлык из свинины 100 гр.
                        </td>
                        <td>
                            624
                        </td>
                        <td>
                            1,02
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            174
                        </td>
                        <td>
                            Медальоны из говядины с овощным тар-таром
                        </td>
                        <td rowspan="2">
                            620
                        </td>
                        <td rowspan="2">
                            1,01
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            175
                        </td>
                        <td>
                            Борщ домашний с чесноком и перцем
                        </td>
                        <td rowspan="2">
                            619
                        </td>
                        <td rowspan="2">
                            1,01
                        </td>
                        <td rowspan="2">
                            2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Салат Цезарь с курицей
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

