<div style="display: none;">
    <div class="box-modal" id="timeOutError">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Не возможно подключиться к серверу, проверьте подключение к сети.</h6>
            </div>
            <div class="modal-footer">
                <button id="closeFreezHistory" class="btn btn-primary arcticmodal-close"
                        data-dismiss="modal"
                        type="button">
                    Oк
                </button>
            </div>
        </div>
    </div>
</div>

<div id="loadImg">
    <img src="~/Images/loading.GIF" />
</div>


