

<div class="modal  modal-wide fade" id="filterControlModal" tabindex="-1" role="dialog" style="z-index: 1050">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Настройки
                </h4>
            </div>
            <div class="modal-body">
                <span class="error-span" data-bind="text: errors"></span>
                <div class="row filter-groups">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveFilterButton">
                    Сохранить
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div><!-- end Modal -->

<div class="row top-buffer">
    <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1 custom_col_md_1">
        <a id="filterControlCollapseClick" class="btn btn-block btn-default" href="#">
            <span id="filterControlCollapse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
    <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 custom_col_md_7">
        <div class="input-group filter-hide">
            <span class="input-group-addon">
                Группы
            </span>
            <input type="text" class="form-control" id="tagsInput" value="" placeholder="Введите название группы...">
        </div>
        <div id="filterControlPreviewPanel" class="control-preview" style="display: none;">
        </div>
    </div>
    <div class="col-xs-2 pull-left filter-hide" style="text-align:left;">
        <button type="button" class="btn btn-default" id="openFilterControlModalButton">
            Фильтры
        </button>
    </div>
</div>
<div class="row top-buffer filter-hide">
    <div class="col-lg-8 col-md-7 col-xs-7 col-sm-8 custom_col_lg_8">
        <div id="input-groups">
        </div>
    </div>
    <div class="col-xs-2 pull-left  padding_zero custom_col_md_1" style="text-align:left;">
        
        <button type="button" class="btn btn-primary submitButton" id="filterRefreshButton" style="display: none;">
            Обновить
        </button>
        
        <div id="loadingFilterEnabled" style="display:none;">
            <img alt="загрузка" src="~/Images/loading.GIF" width="30" height="30">
        </div>

    </div>
</div>

<div id='refreshNote' class="col-lg-1 col-md-1 col-xs-1 col-sm-1 right-align">
    <label>Нажмите Обновить</label>
</div>

@Scripts.Render(
    Dashboard.Bundles.FilterControl.Scripts.Key
)
